<nav class="navigation">
  <div class="navigation__logo">
    <img src="{{ asset('assets/logomisc.png') }}" alt="Misc MC Logo" class="navigation__logo-img">
  </div>
  <div class="navigation__server-info">
    <div class="navigation__server-ip">
      miscmc.net
      <span class="navigation__server-ip-copy">📋</span>
    </div>
    <div class="player-widget">
      <div class="player-widget__dot"></div>
      <span class="player-widget__text">421 Players Online</span>
    </div>
  </div>
</nav>
